.outline-shadow {

position: relative;

font-weight: 600;

text-transform: uppercase;

font-style: italic;

letter-spacing: 1px;

border: solid 2px #4faef2;

color: #4faef2;

box-shadow: 0 4px 0 0 #4faef2;

overflow: hidden;

}

.outline-shadow span {

position: relative;

z-index: 2;

}

.outline-shadow::after {

content: '';

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

background: #85dafc;

opacity: 0.1;

border-radius: 50%;

width: 0;

height: 0;

transition: all 400ms;

}

.outline-shadow:hover:after {

width: 12rem;

height: 12rem;

}

.outline-shadow:active {

margin-top: 4px;

box-shadow: 0 0 0 0 #4faef2;

}
